.book-list-container {
    display: flex;
    padding: 20px;

    background-color:var(--clr2bg);
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > * {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;

        padding: 10px;
        border: 1px solid var(--gray2);

        text-align: center;
    }
}


.book > * {
    padding: 5px;
}

.book h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;

    text-wrap: wrap;
}

.book:hover {
    background-color: rgba(63, 63, 100, 0.521);

    cursor: pointer;
}

.book-actions {
    display: flex;
    justify-content: space-between;

    width: 100%;

    > * {
        border: .5px solid var(--gray2);
    }
}

.book.on-sale img{
    position: relative;
}

.book.on-sale img::after{
    content: '';
    position: absolute;
    inset: 50px;

    background: black;
}