.book-details {
    display: grid;

    grid-template-columns: 1fr 1fr;
    place-items: center;

    padding-inline: 40px;

    background-color: var(--clr2bg);

    h2 {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }
}

.book-details img {
    max-width: 30vw;

    padding: 20px;
    border: 1px solid var(--gray3);
    margin: 10px;
}

.book-details p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cheap {
    color: green
}

.expensive {
    color: red
}

.actions {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 100%;

    justify-items: center;

    margin-block-end: 20px;
    button {
        border: 1px solid black;
    }
}

dialog.open {
    display: block;
}

.review-list {
    grid-column: 1 / -1;

    display: flex;
    width: 100%;
    gap: 20px;

    padding: 20px;
    border-block-start: 1px solid black;

    > li {
        min-width: 80px;
        padding: 10px;
        border-radius: 10px;

        text-align: center;
        background-color: rgba(29, 102, 165, 0.192);

        * {
            margin-block-end: 20px;
        }
    }
}