.book-details {
    display: grid;

    grid-template-columns: 1fr 1fr;
    place-items: center;

    padding-inline: 40px;

    background-color: var(--clr2bg);

    h2 {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }
}

.book-details img {
    max-width: 30vw;

    padding: 20px;
    border: 1px solid var(--gray3);
    margin: 10px;
}

.book-details p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

dialog.edit {
    display: flex;
}

.cheap {
    color: green
}

.expensive {
    color: red
}