.filter-container {
    position: relative;
    display: grid;
    gap: 5px;

    padding: 10px;
    border: 1px solid darkcyan;
    margin: 20px;
}

/* .filter-container::after {
    content: '';
    position: absolute;
    inset: 50px;

    background: black;
} */

.filter-container > * {
    display: flex;
    align-items: center;
    gap: 5px;

    min-height: 30px;
}